html, body {
  margin: 0px;
}
.container {
	max-width: 300px;
	min-width: 200px;
  display: flex;
	flex-direction: column;
  width: 150px;
}
.item{
  padding: 10px;
  display: flex;
	flex-direction: column;
}
.table{
  width: 100%;
  border: 0px;
}
.table tbody tr:hover{
  background-color: #98c1d9;
}
.table tbody tr:nth-child(odd){
  background-color: #e0fbfc;
}
.table th{
  text-align: left;
}